<div class="container mt-5">
    <h2>Signup</h2>
    <%= form_with(model: @user, class: "shadow-lg p-3 mb-3 bg-light text-black rounded-custom", local: true) do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control'%>
      </div>
  
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
  
      <div class="form-group text-center mt-3">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="mb-3">
        <%= link_to '[ Cancel and return to Users listing ]', loans_path, class: "text-center" %>
    </div>
  </div>