<h1>Showing User details</h1>

<p><strong>Name: </strong><%= @loan.name %> </p>
<p><strong>Email: </strong><%= @loan.email %></p>
<p><strong>Amount: </strong><%= @loan.amount %></p>
<p><strong>Purpose: </strong><%= @loan.purpose %></p>
<p><strong>SSN: </strong><%= @loan.ssn %></p>
<p><strong>Phone Number: </strong><%= @loan.phone_number %></p>
<p><strong>Address: </strong><%= @loan.address %></p>
<p><strong>Income: </strong><%= @loan.income %></p>
<p><strong>Profession: </strong><%= @loan.profession %></p>

<div>
  <%= link_to 'Edit', edit_loan_path(@loan) %> |
  <%= link_to 'Create New Application', new_loan_path %>
</div>
<br/>
<div >
  <%= button_to 'Delete', loan_path(@loan), method: :delete, onclick: "return confirm('Are you sure you want to delete this article?');" %> 
</div>





